{% load i18n %}
{% load static %}
               <!-- Start Footer Area -->
     <footer class="footer-area" style="padding-top: 60px;">
          <div class="container">
               <div class="row">
                    <div class="col-lg-3 col-md-6 single-footer-widget">
                         <h4>Whats New</h4>
                         <ul>
                              <li><a href="/ielts">IELTS PREP</a></li>
                              <li><a href="/celpip">CELPIP PREP</a></li>
                              <li><a href="/pte">PTE PREP</a></li>
                              <li><a href="/marketing-adbazzar">Marketing Service</a></li>
                         </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 single-footer-widget">
                         <h4>Features</h4>
                         <ul>
                              <li><a href="/quality">Quality Products</a></li>
                              <li><a href="/in-budget">In Budget</a></li>
                              <li><a href="/documented">Documented</a></li>
                              <li><a href="/24-hrs-support">On Call Support</a></li>
                         </ul>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 single-footer-widget">
                         <h4>Store</h4>
                         <ul>
                              <li><a href="/faq">FAQ</a></li>
                              <li><a href="/sales">Sales</a></li>
                              <li><a href="/help">Help</a></li>
                              <li><a href="/partner">Partner</a></li>
                         </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 single-footer-widget">
                         <h4>Company</h4>
                         <ul>
                              <li><a href="/career">Jobs</a></li>
                              <li><a href="/brand">Brand Assets</a></li>
                              <li><a href="/terms-of-service">Terms of Service</a></li>
                              <li><a href="/privacy-policy">Privacy Policy</a></li>
                         </ul>
                    </div>
               </div>
               <div class="footer-bottom row align-items-center" style="margin-top: 20px;">
                    <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    <div class="col-lg-4 col-md-12 footer-social">
                         <a href="https://www.facebook.com/contactsoftsmart/"><i class="fa fa-facebook"></i></a>
                         <a href="https://www.youtube.com/channel/UCWJIbLifi_zVHssReWOVhKw"><i class="fa fa-youtube"></i></a>
                    </div>
               </div>
          </div>
     </footer>
     <!-- End Footer Area -->

     <!-- ####################### Start Scroll to Top Area ####################### -->
     <div id="back-top">
          <a title="Go to Top" href="#"></a>
     </div>
     <!-- ####################### End Scroll to Top Area ####################### -->