{% extends "layout.html" %}
{% load thumbnail %}
{% load i18n %}
{% load static %}

<!-- {% block title %}
    {% trans "Basket" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        <li class="active">{% trans "Basket" %}</li>
    </ul>
{% endblock %} -->

{# Hide mini-basket so we don't have two baskets to keep in sync #}
{% block mini_basket %}{% endblock %}

{% block headertext %}
    {% trans "Basket" %}
{% endblock %}

{% block content %}
<!-- Start Banner Area -->
     <section style="min-height: 20px; max-height: 100px;" class="banner-area">
          <div class="container">
               <div class="row d-flex align-items-center justify-content-center">
                    <div class="about-content col-lg-12">
                    </div>
               </div>
          </div>
     </section>
     <!-- End Banner Area -->
     <section class="about-area">
          <div class="container">
<div class="section-top-border">
                    <div class="row">
                         <div class="col-md-12">
                              <div class="single-defination">
                                  {% include 'basket/partials/basket_content.html' %}                                  
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>
{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    {# We pass in the URL to send AJAX requests to #}
    var options = {
        'basketURL': '{% url 'basket:summary' %}'
    };
    oscar.basket.init(options);
{% endblock %}
